@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}

.wrapper-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.btn-theme {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 15px 40px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-theme i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-theme:hover {
  background-color: antiquewhite;
  border: 1px solid #191919;
  color: #191919;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 53px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: antiquewhite;
  border: 1px solid #F9D783;
  color: #191919;
  font-size: 16px;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: antiquewhite;
  text-decoration: none;
  padding: 15px 40px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}

.btn-black-next {
  background-color: #191919;
  border: 1px solid #191919;
  color: antiquewhite;
  text-decoration: none;
  padding: 10px 14px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
}
.btn-black-next i {
  font-size: 1em;
}
.btn-black-next:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}

.btn-learn-more {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 10px 30px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 25px;
  height: 50px;
  margin-top: 10px;
}
.btn-learn-more i {
  font-size: 0.9em;
  margin-left: 4px;
}
.btn-learn-more:hover {
  background-color: antiquewhite;
  border: 1px solid #191919;
  color: #191919;
}

.section-title {
  padding-top: 60px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.section-title p {
  color: #F94D1C;
  margin-bottom: 20px;
  font-weight: 500;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #F0EFE9;
  padding: 15px;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo bars";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo cib social" "logo menu menu";
  }
}
header .container .btn-menubars {
  grid-area: bars;
  border: none;
  font-size: 25px;
  background-color: transparent;
}
header .container .btn-menubars:hover {
  color: #9a9898;
}
@media (min-width: 992px) {
  header .container .btn-menubars {
    display: none;
  }
}
header .container .logotype {
  grid-area: logo;
  margin-right: 70px;
}
header .container .contactinformation-bar {
  grid-area: cib;
  display: none;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .contactinformation-bar {
    display: flex;
  }
}
header .container .contactinformation-bar .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #D9D8D2;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .contactinformation-bar .content-box i {
  margin-right: 10px;
  font-size: 1.2em;
}
header .container .contactinformation-bar .content-box.last {
  border: none;
  color: #666666;
}
header .container .socialmedia-bar {
  grid-area: social;
  display: none;
}
@media (min-width: 992px) {
  header .container .socialmedia-bar {
    display: block;
  }
}
header .container .socialmedia-bar a {
  color: #191919;
  font-size: 1.4rem;
  margin-left: 10px;
  margin-right: 5px;
}
header .container .socialmedia-bar a:hover {
  color: #9a9898;
}
header .container .menu {
  grid-area: menu;
  display: none;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #DAD9D3;
  margin-top: 10px;
  padding-top: 10px;
}
@media (min-width: 992px) {
  header .container .menu {
    display: flex;
  }
}
header .container .menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu nav a.active {
  font-weight: 500;
}
header .container .menu nav a.active::after, header .container .menu nav a:hover::after {
  content: " ";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 30%;
  bottom: -3px;
  transform: translate(10%);
}
header .container .menu .btn-login {
  padding-top: 10px;
  padding-bottom: 10px;
}

.showcase {
  background-color: #F0EFE9;
  position: relative;
  z-index: 0;
}
.showcase .background-lines {
  display: none;
}
@media (min-width: 900px) {
  .showcase .background-lines {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 56px;
  }
}
@media (min-width: 1200px) {
  .showcase .container .content h1 {
    font-size: 66px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 15px;
  padding-top: 30px;
  padding-bottom: 35px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    margin-right: 15px;
    display: inline-block;
  }
}
.showcase .container img {
  display: none;
  margin-right: -40px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.ads {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .ads {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media (min-width: 900px) {
  .ads {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .ads {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .ads {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 90px;
    margin-bottom: 90px;
  }
}

.features {
  border: 1px solid #DAD9D3;
  margin: 50px;
}
@media (min-width: 992px) {
  .features h2 {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  .features h2 {
    font-size: 45px;
  }
}
.features .container {
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .features .container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
  }
}
.features .container .section-title {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  height: 50%;
  margin-left: 100px;
  align-content: center;
  padding-bottom: 0;
  padding-top: 50px;
}
.features .container .section-title h2 {
  font-size: 35px;
}
@media (min-width: 992px) {
  .features .container .section-title {
    margin-top: -30px;
    margin-right: 100px;
    margin-left: 30px;
  }
  .features .container .section-title h2 {
    font-size: 35px;
  }
}
@media (min-width: 1400px) {
  .features .container .section-title {
    width: 800px;
    margin-right: 100px;
    padding-top: 75px;
    margin-left: 10px;
  }
  .features .container .section-title h2 {
    font-size: 45px;
  }
}
@media (min-width: 1200px) {
  .features .container .section-title a {
    padding: 15px 50px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
    margin-top: 25px;
  }
}
@media (min-width: 1400px) {
  .features .container .section-title a {
    padding: 10px 150px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
  }
}
.features .container .advices {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
}
.features .container .advices h4 {
  margin: 20px 0 20px 0;
  font-family: "DM sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.features .container .advices p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
}
.features .container .advices i {
  margin-top: 70px;
  margin-bottom: 15px;
  font-size: 25px;
}
.features .container .advices .side {
  margin-right: 30px;
  margin-left: 30px;
  width: 200px;
}
.features .container .advices .side h4 {
  font-size: 20px;
}
.features .container .advices .side p {
  font-size: 14px;
}
.features .container .advices .side i {
  margin-top: 70px;
  margin-bottom: 15px;
  font-size: 25px;
}
@media (min-width: 992px) {
  .features .container .advices .side {
    margin-right: 30px;
    margin-left: 30px;
    width: 300px;
  }
}
@media (min-width: 1400px) {
  .features .container .advices .side {
    width: 300px;
    margin-right: 30px;
    margin-left: 30px;
  }
}

.about-company .container {
  padding: 100px 0 100px 0px;
}
@media (min-width: 1200px) {
  .about-company .container {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 100px 0;
    position: relative;
  }
}
.about-company .container .image {
  display: none;
}
@media (min-width: 1200px) {
  .about-company .container .image {
    display: flex;
    margin-left: 50px;
  }
}
.about-company .container .blue-box {
  display: none;
}
@media (min-width: 1200px) {
  .about-company .container .blue-box {
    display: block;
    background-color: #BEEBFF;
    height: 170px;
    width: 360px;
    position: absolute;
    bottom: 150px;
    padding-top: 30px;
    padding-left: 30px;
  }
}
.about-company .container .blue-box .founder {
  color: #F94D1C;
  font-family: "DM Sans", sans-serif;
  font-weight: 800;
  font-size: 16px;
}
.about-company .container .blue-box h4 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.about-company .container .blue-box p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.about-company .container .content-box {
  text-align: center;
  width: 90%;
  margin-top: -125px;
  padding-left: 70px;
}
@media (min-width: 1200px) {
  .about-company .container .content-box {
    width: 535px;
    margin-top: -125px;
    text-align: left;
  }
}
.about-company .container .content-box p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.about-company .container .section-title {
  width: 100%;
  text-align: center;
}
@media (min-width: 992px) {
  .about-company .container .section-title {
    text-align: left;
    margin-bottom: -50px;
  }
}
.about-company .container .section-title p {
  font-size: 18px;
}
.about-company .container .center-content {
  display: flex;
  margin-top: 70px;
  margin-right: 100px;
}
@media (min-width: 768px) {
  .about-company .container .center-content {
    display: flex;
    margin-top: 70px;
    margin-right: 220px;
  }
}
@media (min-width: 1200px) {
  .about-company .container .center-content {
    margin-top: 150px;
    margin-right: 160px;
  }
}
.about-company .container .center-content .intro {
  display: flex;
  align-items: center;
  margin-right: -120px;
  margin-left: 68px;
}
.about-company .container .center-content .intro:hover {
  color: #9a9898;
  text-decoration: underline;
  cursor: pointer;
}
.about-company .container .center-content .intro p {
  margin-top: 15px;
  font-family: "Inter", sans-serif;
  font-size: 16;
  font-weight: 600;
}
.about-company .container .center-content .icon-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.our-service {
  background-color: #F0EFE9;
  width: 100%;
  position: relative;
  padding-bottom: 120px;
}
.our-service .container {
  position: relative;
}
.our-service .container .section-title {
  width: 100%;
  text-align: center;
}
@media (min-width: 992px) {
  .our-service .container .section-title {
    width: 40%;
    margin-bottom: -70px;
    text-align: left;
  }
}
.our-service .container .examples {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
@media (max-width: 768px) {
  .our-service .container .examples {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 992px) {
  .our-service .container .examples {
    display: flex;
    justify-content: space-around;
    gap: 15px;
  }
}
.our-service .container .examples hr {
  width: 15%;
  color: #191919;
  border: 2px solid #191919;
  border-radius: 25px;
}
.our-service .container .examples .services {
  background-color: #FFFFFF;
  width: 300px;
  margin-bottom: 80px;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 992px) {
  .our-service .container .examples .services {
    background-color: #FFFFFF;
    width: 300px;
    margin-bottom: 200px;
    padding-top: 70px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.our-service .container .examples .services:hover {
  background-color: #F9D783;
  color: #191919;
}
.our-service .container .examples .services:hover .btn-black-next {
  background-color: #FFFFFF;
  color: #191919;
}
.our-service .container .examples .services h6 {
  line-height: 2;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.our-service .container .examples .services p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
  margin-bottom: 20px;
}
.our-service .container .examples .services .btn-black-next {
  margin-left: 80%;
}
.our-service .container .center-content .btn-transparent {
  position: absolute;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .our-service .container .center-content .btn-transparent {
    position: absolute;
    margin-bottom: 150px;
  }
}
.our-service .wavy-lines {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
}

.choose-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 170px;
}
.choose-us .container {
  width: 450px;
  margin-right: 265px;
}
.choose-us .container .section-title {
  padding-top: 60px;
  margin-left: -30px;
}
@media (min-width: 768px) {
  .choose-us .container .section-title {
    top: 0;
    padding-top: 60px;
    padding-bottom: 40px;
  }
}
.choose-us .container .examples {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 50px;
}
.choose-us .container .examples h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 800;
}
.choose-us .container .examples p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}
.choose-us .container .examples i {
  color: #191919;
  position: absolute;
  font-size: 40px;
  margin-left: -80px;
  border: 2px solid #9a9898;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
}
.choose-us .content-box {
  position: relative;
}
.choose-us .content-box .image {
  display: none;
}
.choose-us .content-box .image img {
  max-width: 100%;
  max-height: 100%;
  min-width: 500px;
}
@media (min-width: 1200px) {
  .choose-us .content-box .image {
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 100px;
    right: 50px;
  }
}
@media (min-width: 1700px) {
  .choose-us .content-box .image {
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 100px;
    left: -70px;
  }
}
.choose-us .content-box .grey-box {
  display: none;
}
@media (min-width: 1400px) {
  .choose-us .content-box .grey-box {
    display: block;
    position: absolute;
    width: 120%;
    height: 425px;
    z-index: 0;
    background-color: #F0EFE9;
    bottom: 0;
    right: 0;
  }
}

.project-and-case .container .section-title {
  text-align: center;
}
.project-and-case .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-case .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-case .container .project-and-cases .project {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  color: #191919;
  text-decoration: none;
}
.project-and-case .container .project-and-cases .project img {
  width: 100%;
  height: auto;
}
.project-and-case .container .project-and-cases .project h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.project-and-case .container .project-and-cases .project .readmore {
  padding: 15px;
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500px;
  text-decoration: none;
  color: #191919;
}
.project-and-case .container .project-and-cases .project .readmore i {
  margin-left: 3px;
}
.project-and-case .container .project-and-cases .project:hover .readmore {
  text-decoration: underline;
}
.project-and-case .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}

.team-members {
  background-color: #F0D082;
  width: 100%;
  margin: auto;
  padding-bottom: 120px;
  position: relative;
}
.team-members .bg-employees {
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 2rem;
}
.team-members .container .images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 80px;
}
@media (min-width: 576px) {
  .team-members .container .images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-left: 0;
  }
}
@media (min-width: 1200px) {
  .team-members .container .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
    gap: 10px;
  }
}
.team-members .container .images img {
  max-width: 100%;
  max-height: auto;
  min-width: 100px;
}
.team-members .container .images h4 {
  margin-top: 30px;
}
.team-members .container .btn-browse {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 100px;
  border: 1px solid #191919;
}
@media (min-width: 576px) {
  .team-members .container .btn-browse {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 150px;
    border: 1px solid #191919;
  }
}
@media (min-width: 1200px) {
  .team-members .container .btn-browse {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 260px;
    margin-top: 150px;
  }
}
.team-members .container .dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 4rem;
}
.team-members .container .dots .dot {
  height: 12px;
  width: 12px;
  background-color: #191919;
  opacity: 25%;
  border-radius: 50%;
  display: inline-block;
}
.team-members .container .dots .active-dot {
  height: 12px;
  width: 12px;
  background-color: #191919;
  border-radius: 50%;
  display: inline-block;
}
.team-members .content-box {
  padding-bottom: 6rem;
}
.team-members .content-box .section-title {
  text-align: center;
}
.team-members .content-box .checked {
  color: #F94D1C;
  margin-bottom: 25px;
}
.team-members .content-box .employees {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
@media (min-width: 1200px) {
  .team-members .content-box .employees {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 100px;
  }
}
.team-members .content-box .employees .comment {
  color: #191919;
  line-height: 2;
  margin-bottom: 50px;
}
.team-members .content-box .employees .worker {
  display: flex;
  flex-direction: row;
  text-align: left;
}
.team-members .content-box .employees .worker p {
  color: #F94D1C;
}
.team-members .content-box .employees .worker img {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 5px;
  margin-top: -10px;
}
.team-members .content-box .btn-black {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px auto;
}

.article-and-news {
  width: 100%;
  margin: auto;
}
.article-and-news .container {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.article-and-news .container .headline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 992px) {
  .article-and-news .container .headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -70px;
  }
}
.article-and-news .container .headline .btn-transparent {
  margin-top: 20px;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .article-and-news .container .headline .btn-transparent {
    margin-bottom: -70px;
    margin-top: 0;
  }
}
.article-and-news .container .headline .section-title {
  text-align: center;
  margin-bottom: -30px;
}
@media (min-width: 768px) {
  .article-and-news .container .headline .section-title {
    text-align: left;
    margin-bottom: -80px;
  }
}
@media (min-width: 992px) {
  .article-and-news .container .headline .section-title {
    margin-bottom: 0;
  }
}
.article-and-news .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
@media (min-width: 992px) {
  .article-and-news .container .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}
.article-and-news .container .content .business {
  position: relative;
}
.article-and-news .container .content .business img {
  width: 100%;
}
.article-and-news .container .content .business h6 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 900px;
}
.article-and-news .container .content .business p {
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500px;
  line-height: 2;
}
.article-and-news .container .content .business .yellow-box {
  position: absolute;
  background-color: #F0D082;
  display: flex;
  width: 55px;
  height: 65px;
  margin: 10px 0 0 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.article-and-news .container .content .business .yellow-box p {
  position: absolute;
  margin-bottom: -5px;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500px;
}
.article-and-news .container .content .business .yellow-box h5 {
  position: absolute;
  margin-bottom: 15px;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 900px;
}
.article-and-news .container .dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 4rem;
}
.article-and-news .container .dots .dot {
  height: 12px;
  width: 12px;
  background-color: #191919;
  opacity: 25%;
  border-radius: 50%;
  display: inline-block;
}
.article-and-news .container .dots .active-dot {
  height: 12px;
  width: 12px;
  background-color: #191919;
  border-radius: 50%;
  display: inline-block;
}

.newsletter {
  background-color: #F0EFE9;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.newsletter .background-lines-right {
  position: absolute;
  bottom: 25px;
  right: 0;
}
.newsletter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 35px;
  font-weight: 700;
}
@media (min-width: 992px) {
  .newsletter .container h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 45px;
    font-weight: 700;
  }
}
.newsletter .container form input {
  color: #191919;
  text-decoration: none;
  padding: 15px 40px;
  font-size: 16px;
  border-radius: 25px;
  outline: 0;
  border: 1px solid rgba(25, 25, 25, 0.1019607843);
  margin-right: 20px;
}
@media (max-width: 1200px) {
  .newsletter .btn-theme {
    display: block;
    margin-top: 10px;
    margin-left: 40px;
  }
}

footer {
  background-color: #0E1021;
  position: relative;
}
footer .foot-element {
  display: none;
}
@media (min-width: 1200px) {
  footer .foot-element {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 70px;
  }
}
footer .container {
  height: 435px;
  display: grid;
  grid-template-columns: 200px auto auto auto auto;
  align-content: center;
  color: #F0EFE9;
  gap: 10px;
}
footer .container a {
  text-decoration: none;
}
@media (min-width: 992px) {
  footer .container {
    display: grid;
    grid-template-columns: 300px auto auto auto auto;
    gap: 30px;
  }
}
@media (min-width: 1400px) {
  footer .container {
    gap: 100px;
  }
}
footer .container ul {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 25px;
  margin-left: -30px;
}
footer .container li {
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #9a9898;
  list-style: none;
}
footer .container li:hover {
  color: #FFFFFF;
}
footer .container .crito {
  margin-top: 30px;
}
footer .container .crito .logo {
  position: absolute;
  top: 0;
  margin-top: 85px;
}
footer .container .crito p {
  display: none;
}
@media (min-width: 992px) {
  footer .container .crito p {
    display: block;
    margin-top: 20px;
    color: #9a9898;
  }
}
footer .copyright {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  color: #9a9898;
  border-top: 1px solid #666666;
}
footer .copyright span {
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}
footer .copyright .social-media {
  margin-right: 80px;
  margin-top: 15px;
  margin-bottom: 15px;
}
footer .copyright .social-media a {
  color: #9a9898;
  font-size: 1.4rem;
  margin-left: 10px;
  margin-right: 5px;
}
footer .copyright .social-media a:hover {
  color: #9a9898;
}